body{
    max-width: 90%;
    margin: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(150, 185, 212, 0.5);
}

.jumbotron{
    background-image: url(../images/olympus.jpeg);
    background-size: cover;
}

h1.display-3{
    font-size: 6vw;
    text-align: center;;
    font-weight: bolder;
    color:darkblue;
    text-shadow: 15px 15px 25px whitesmoke;
    margin-bottom: 2vw;
}

p.lead{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color:whitesmoke;
    text-shadow: 10px 10px 20px black;
    margin-bottom: 2vw;
}

p{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color:whitesmoke;
    text-shadow: 10px 10px 20px black;
}

a.btn.btn{
    margin-bottom: 10vw;
}

#foot{
    font-size: 1em;
    text-align: center;
}