body{
    max-width: 90%;
    margin: 1em;
    background-color: rgba(104, 183, 248, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    padding:3em;
    font-size: 18px;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color:darkblue;
    margin-bottom: 1em;
}
h2{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;    
}

h6{
    margin-bottom: .5em;
}

input#user-name.form-control{
    width: 50%;
    margin-bottom: 2em;
}

input#user-photo.form-control{
    width: 75%;
    margin-bottom: 2em;
}

p{
    font-size: 1.5em;
    text-align: center;
    margin:1em;
    color:darkblue;
}

h3{
    font-weight: bold;
    font-size:1em;
    color: darkblue;
}

h5{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: .5em;
}

form div.form-group select.form-control{
    width: 25%;
    margin-bottom: 1em;
}

button{
    width: 25%;
    margin-bottom: 2em;
}

footer.footer div.container a{

    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}